{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 ">
     
      <img src="{{occupant.profile_pic.url}}" style="width: 300px; height: 300px; border-radius: 100%;" alt=""> 
  
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-2 mt-5">
      <h6>{{current_user.username}}</h6>
      <h6>{{occupant.about_me}}</h6>
      <h6>{{occupant.contact}}</h6>
      <a href="{% url 'post' %}" class="btn btn-lg" style="color: #e0af00;">Post</a>
    </div>
    
  </div>
</div>  
<h1 class="text-center">My hood</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-center">{{neighborhood.name}}</h2>
            <p><strong>Location: </strong>{{neighborhood.location}}</p>
            <p><strong>Occupants: </strong>{{occupants | length}}</p>
        </div>
      <div class="col-md-4">
        <h2 class="text-center">Police</h2>
        {% for station in police %}
        <p><strong>Name: </strong>{{station.name}}</p>
        <p><strong>Email: </strong>{{station.email}}</p>
        <p><strong>Contact: </strong>{{station.contact}}</p>
        <p><strong>Alternative Contact: </strong>{{station.alternative_contact}}</p>
  {% endfor %}
      </div>
      <div class="col-md-4">
        <h2 class="text-center">Health Department</h2>
        {% for department in healthcareCenter %}
        <p><strong>Name: </strong>{{department.name}}</p>
        <p><strong>Email: </strong>{{department.email}}</p>
        <p><strong>Contact: </strong>{{department.contact}}</p>
        <p><strong>Alternative Contact: </strong>{{department.alternative_contact}}</p>
  {% endfor %}
      </div>
    </div>
  </div>
{%endblock%}
